#container {
  position: relative;
  width: 50%;
  height: 500px;
  margin: auto;
}

.tab {
  margin-top: 21px;
  margin-right: 4px;
  float: left;
  position: relative;
  background: #2c2c2c;
  padding: 10px;
  font-weight: bold;
  z-index: 1;
  color: #929292;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 18px;
}

.selected {
  background-color: #eee;
  color: #DC291E;
  margin-top: 18px;
  height: 23px;
}

#tab-content {
  position: absolute;
  left: 0;
  top: 59px;
  background-color: #eee;
  padding: 25px;
  color: #222;
  border-radius: 3px;
  width: 100%;
}

#tab-copy {
  margin: 0;
}