#container {
  position: relative;
  width: 50%;
  height: 500px;
  margin: auto;
}

.tab {
  margin-top: 21px;
  margin-right: 3px;
  float: left;
  position: relative;
  background: #222;
  padding: 10px;
  font-weight: bold;
  z-index: 1;
  color: #929292;
}

.selected {
  background-color: #000;
  color: #DC291E;
}

#tab-content {
  position: absolute;
  left: 0;
  top: 59px;
  background-color: #000;
  padding: 20px;
}

